* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

// Цвета
$pink: #fd01fc;
$black: #000104;
$gradient: linear-gradient(to right, #bc4e9c, #f80759);

::-webkit-scrollbar {
  background-color: $black;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $gradient;
}

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap"); // Andika
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap"); // Roboto

html, body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

// Блоки по центру
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Объект навигации
@mixin nav {
  @include center;
  display: flex !important;
  height: 5rem;
  padding: 0 2rem;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    color: $pink;
  }
}
// Кнопка присоединения к серверу
@mixin button {
  background: $gradient;
  border-radius: 6px;
  margin: .5rem 0;
  height: 3rem;
  color: white;
}

// Навигация
nav {
  .nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: $black;
    font-size: 1.1rem;
    height: 5rem;
    color: white;
    &__main {
      @include center;
      margin: 0 3rem;
      height: 5rem;
      img {
        height: 3.5rem;
        margin: 0 1rem;
      }
      p {
        font-weight: 500;
        font-size: 1.3rem;
        @media screen and (max-width: 320px) {
          display: none;
        }
      }
      @media screen and (max-width: 1080px) {
        margin: 0 2rem;
      }
      @media screen and (max-width: 385px) {
        margin: 0 1rem;
      }
      @media screen and (max-width: 355px) {
        margin: 0;
      }
    }
    &__items {
      height: 5rem;
      margin: 0 2rem;
      ul {
        @include center;
        list-style: none;
        height: 5rem;
        li {
          @include nav;
          display: inline;
          &:first-child {
            @include button;
          }
        }
      }
      @media screen and (max-width: 1080px) {
        display: none;
      }
    }
    &__menu {
      display: none;
      font-weight: 300px;
      font-size: 2rem;
      padding: 0 2rem;
      @media screen and (max-width: 1080px) {
        @include center;
      }
      @media screen and (max-width: 355px) {
        padding: 0 1rem;
      }
    }
    @media screen and (max-width: 1080px) {
      justify-content: space-between;
    }
  }
}

// Главная часть
main {
  .main {
    background-image: url("images/background/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    &__items {
      @include center;
      flex-direction: column;
      height: calc(100vh - 5rem);
      color: white;
      h1, h2 {
        margin: 1.5rem 1rem;
        text-align: center;
      }
      h1 {
        font-size: 3.25rem;
        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 2.75rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 2.5rem;
        }
      }
      h2 {
        font-size: 1.35rem;
        @media screen and (max-width: 480px) {
          font-size: 1.25rem;
        }
      }
      a {
        @include button;
        @include center;
        padding: 1.75rem 5rem;
        margin: 1.5rem 1rem;
      }
    }
  }
  
  // Преимущества
  .advantage {
    background-color: $black;
    font-family: "Andika", sans-serif;
    @include center;
    color: white;
    &__items {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    &__item {
      margin: 1rem;
      p {
        font-size: 2.5rem;
        margin: 1rem 0;
      }
      span {
        font-size: 1.25rem;
        line-height: 1.5;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: flex;
          list-style: none;
          margin: .5rem 1rem .5rem 0;
          &:before {
            content: url("https://img.icons8.com/nolan/32/1A6DFF/C822FF/approval.png");
            padding-right: .3rem;
            height: .2rem;
          }
        }
      }
    }
  }
}

