* {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}

// Цвета
$pink: #fd01fc;
$black: #000104;
$light-black: #111;
$gradient: linear-gradient(to right, #bc4e9c, #f80759);

@media screen and (min-width: 480px) {
  ::-webkit-scrollbar {
    background-color: $black;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: $gradient;
  }
}

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap"); // Andika
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap"); // Roboto

html, body {
  background-color: $light-black;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

// Блоки по центру
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Объект навигации
@mixin nav {
  @include center;
  display: flex !important;
  height: 5rem;
  padding: 0 2rem;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    color: $pink;
  }
}
// Кнопка присоединения к серверу
@mixin button {
  background: $gradient;
  border-radius: 6px;
  margin: .5rem 0;
  height: 3rem;
  color: white;
}

// Загрузка
.preloader {
  @include center;
  position: fixed;
  background: $light-black;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: 99;
  color: white;
  &__item {
    img {
      height: 270px;
      width: 270px;
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      margin: 1rem;
    }
  }
}
.loaded .preloader {
  display: none;
  overflow-y: scroll;
}
.loaded__hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.wrapper {
  display: flex;
  max-width: 1920px;
}

.svg {
  background-color: $light-black;
  svg {
    background-color: $black;
  }
}
.svg-rotate {
  background-color: $black;
  transform: rotate(180deg);
  @media screen and (min-width: 480px) {
    margin-top: -2.1rem;
  }
}

// Навигация
nav {
  .nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: $black;
    font-size: 1.1rem;
    height: 5rem;
    color: white;
    z-index: 1;
    &__main {
      @include center;
      margin: 0 3rem;
      height: 5rem;
      img {
        height: 3.5rem;
        margin: 0 1rem;
      }
      p {
        font-weight: 500;
        font-size: 1.3rem;
        @media screen and (max-width: 320px) {
          display: none;
        }
      }
      @media screen and (max-width: 1080px) {
        margin: 0 2rem;
      }
      @media screen and (max-width: 385px) {
        margin: 0 1rem;
      }
      @media screen and (max-width: 355px) {
        margin: 0;
      }
    }
    &__items {
      height: 5rem;
      margin: 0 2rem;
      ul {
        @include center;
        list-style: none;
        height: 5rem;
        a {
          @include nav;
          li {
            display: inline;
          }
          &:first-child {
            @include button;
          }
        }
      }
      @media screen and (max-width: 1080px) {
        display: none;
      }
    }
    &__menu {
      display: none;
      font-weight: 300px;
      font-size: 2rem;
      padding: 0 2rem;
      @media screen and (max-width: 1080px) {
        @include center;
      }
      @media screen and (max-width: 355px) {
        padding: 0 1rem;
      }
    }
    @media screen and (max-width: 1080px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 1921px) {
      justify-content: center;
    }
  }
}

// Меню-бургер
.menu {
  @include center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $black;
  z-index: 2;
  flex-direction: column;
  top: 0;
  color: white;
  p {
    @include center;
    height: 50px;
    width: 50px;
    padding: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    z-index: 3;
  }
  ul {
    @include center;
    height: 80%;
    position: absolute;
    top: 0;
    list-style: none;
    font-size: 1.35rem;
    width: 100%;
    flex-direction: column;
    li {
      border-radius: 15px;
      padding: 1rem;
      text-align: center;
      margin: 0 1rem;
      width: calc(75vw - 2rem);
      &:hover {
        background-color: #ffffff10;
        color: $pink;
      }
      @media screen and (max-width: 400px) {
        width: calc(100vw - 2rem);
      }
    }
  }
  svg {
    position: absolute;
    bottom: 0;
    height: 40%;
  }
}

// Главная часть
main {
  .main {
    background-image: url("images/background/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    width: 100vw;
    &__items {
      @include center;
      flex-direction: column;
      height: calc(100vh - 5rem);
      color: white;
      h1, h2 {
        margin: 1.5rem 1rem;
        text-align: center;
      }
      h1 {
        font-size: 3.25rem;
        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 2.75rem;
        }
        @media screen and (max-width: 380px) {
          font-size: 2.5rem;
        }
      }
      h2 {
        font-size: 1.35rem;
        @media screen and (max-width: 480px) {
          font-size: 1.25rem;
        }
      }
      a {
        @include button;
        @include center;
        padding: 1.75rem 5rem;
        margin: 1.5rem 1rem;
      }
    }
    @media screen and (min-width: 480px) {
      background-attachment: fixed;
    }
  }
  
  // Преимущества
  .advantage {
    background-color: $black;
    font-family: "Andika", sans-serif;
    @include center;
    color: white;
    padding: 3rem 0;
    &__images {
      @include center;
      margin: 1.5rem 1rem;
      padding: 0 2rem;
      img {
        border-radius: 200px;
        @media screen and (max-width: 320px) {
          width: 90%;
        }
      }
      @media screen and (max-width: 992px) {
        margin: 1.5rem 1rem 0;
        padding: 0;
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 1200px;
      @media screen and (max-width: 992px) {
        width: 90%;
      }
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
    &__item {
      margin: .5rem;
      p {
        font-size: 2.5rem;
        margin: 1rem 0;
      }
      span {
        font-size: 1.25rem;
        line-height: 1.5;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: flex;
          list-style: none;
          margin: .5rem 1rem .5rem 0;
          &:before {
            content: url("images/icon/approval.png");
            padding-right: .3rem;
            height: .2rem;
          }
        }
        @media screen and (max-width: 400px) {
          flex-direction: column;
        }
      }
      @media screen and (max-width: 400px) {
        margin: 1rem;
      }
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  
  // Статистика
  .status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $light-black;
    color: white;
    padding: 2rem 3rem;
    &__items {
      display: flex;
      max-width: 1920px;
      align-self: center;
      width: 100%;
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 1rem;
        li {
          padding: 1rem;
          cursor: pointer;
          text-align: center;
          &:hover {
            background-color: #ffffff20 !important;
            transition: 0.3s;
          }
          @media screen and (max-width: 382px) {
            width: 50%;
          }
        }
        @media screen and (max-width: 470px) {
          justify-content: center;
        }
      }
      iframe {
        height: 400px;
        @media screen and (max-width: 796px) {
          height: 200px;
        }
      }
    }
    @media screen and (max-width: 535px) {
      padding: 2rem 1rem;
    }
  }

  // Поддержка
  .support {
    @include center;
    flex-direction: column;
    background-color: $black;
    color: white;
    &__container {
      padding: 3rem 0;
      p {
        font-family: "Andika", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
      }
      a {
        @include button;
        @include center;
        padding: 1.75rem 5rem;
        margin: 1.5rem 1rem;
        @media screen and (max-width: 320px) {
          margin: 1.5rem 0;
        }
      }
    }
  }

  // Разработчик
  .developer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-black;
    color: white;
    p {
      margin: 1rem 2rem;
      span, a {
        color: $pink;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      @media screen and (max-width: 487px) {
        margin: .5rem;
      }
    }
    @media screen and (max-width: 487px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}